
.todos-bg-container {
    background-color: #f9fbfe;
    height: 150vh;
}

.todoslist-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.new-task-heading {
    font-family: "Roboto";
    font-size: 24px;
}


.todo-items-heading {
    font-family: "Roboto";
    font-size: 24px;
}

.todo-items-container {
    margin: 0px;
    padding: 0px;
}

.todo-user-input {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.add-todo-button {
    color: white;
    background-color: blue;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.label-container {
    background-color: lightblue;
    width: 50%;
    height: 7vh;
    border-radius: 4px;
    border: none;
}

.checkbox-input {
    width: 25px;
    height: 20px;
    margin-top: 12px;
    margin-right: 10px;
}

.checkbox-label {
    color: black;
    font-family: "Roboto";
    font-size: 18px;
    width: 100%;
    margin: 1px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 5px;
}

.label-strike {
    text-decoration: line-through;
}

.checked {
    text-decoration: line-through;
}